src/main/mule/airIndiaFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f6e8b2d2-5e77-410d-b31a-46ee90c6b4d6" >
		<wsc:connection wsdlLocation="http://airindia-services.us-e2.cloudhub.io/airindia?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://airindia-services.us-e2.cloudhub.io/airindia" />
	</wsc:config>
	<flow name="airIndiaFlightsFlow" doc:id="4f9b324b-5d80-432b-aeac-3c7a9236842e" >
		<logger level="INFO" doc:name="Logger" doc:id="d33fd023-310f-4f80-aad5-bca7bd8538b8" message="Request recieved from....................#[attributes.queryParams]"/>
		<ee:transform doc:name="Transform Message" doc:id="90dc74b6-12cf-4c76-86b7-aa559dd0b80d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	getFlights:{
		from:attributes.queryParams.source,
		to:attributes.queryParams.destination,
		depatureDate:attributes.queryParams.doj
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getFlights" doc:name="Consume" doc:id="52330c26-8e19-4ab5-9433-5e6cc448ff47" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="580ee32b-6677-4417-9cc6-0787b19eb21b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e27cca39-1241-4960-b9aa-993e478314cd" message="Response from Air India Flights...................#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6ee761e1-201f-4d95-8b32-54708a4a2799" >
				<ee:transform doc:name="Transform Message" doc:id="6ae8465d-f864-4a08-97cc-ec2c52163e37" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	StatusCode:500,
	Message:"Air India Flights Server's Down"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
